{% extends 'base_application.html' %}

{% block content %}
<div class="main-content" id="my-applications">
    <div class="content-section">
        <h2>My Applications</h2>
        <p>Track the status of your job applications:</p>
        <ul class="job-list">
            <li class="job-item">Software Engineer - Applied on 2024-10-01 - Status: <strong>Interview Scheduled</strong></li>
            <li class="job-item">Web Developer - Applied on 2024-10-05 - Status: <strong>Awaiting Response</strong></li>
        </ul>
        <p><em>You can click on the job title to view more details or to withdraw your application.</em></p>
    </div>
</div>
{% endblock content %}
