{% extends 'base_company.html' %}
{% block content %}

    <div class="main-content" id="analytics">
        <div class="content-section">
            <h2>Admin Analytics</h2>
            <div class="grid-container">
                <div class="card">
                    <h3>Total Users</h3>
                    <p>100</p>
                </div>
                <div class="card">
                    <h3>Applications Submitted</h3>
                    <p>250</p>
                </div>
                <div class="card">
                    <h3>Active Listings</h3>
                    <p>10</p>
                </div>
                <div class="card">
                    <h3>Pending Actions</h3>
                    <p>5</p>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}